*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body
{
    width: 100vw;
    height: 100vh;
}
.homeContainer
{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 10px;
}

button
{
    font-size: 20px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
p
{
    font-size: 20px;
}
.btnContainer
{
    width: 40vw;
    height: 57vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: -15px;
}
main
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
h1
{
    position: absolute;
    top: 0px;
    width: 100vw;
    text-align: center;
    color: rgb(178, 185, 183);
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    box-shadow: 0 2px 2px 2px rgb(215, 211, 206);
    margin-bottom: 20px;
}
.nextBtnContainer
{
    height: 10vh;
}
.levelContainer
{
    margin-top: 20px;
    height: 5vh;
}
.attemptContainer
{
    height: 10vh;
}
.gameOver
{
    font-size: 70px;
    font-weight: bolder;
    color: red;
    position:absolute;
    top: 300px;
    transform: rotate(-45deg);
}
.shrink {
    transition: transform 0.5s ease-in-out, opacity 0.5s;
    transform: scale(0);
    opacity: 0;
}
@media (max-width: 500px) 
{
    .btnContainer
{
    width: 90vw;
    height: 47vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: -15px;
    
}
p
{
    font-size: 18px;
}
}